/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/fileSystem
Homestead.json
Homestead.yaml
.env
.sublime-project
.sublime-workspace
fileManager.sublime-project
fileManager.sublime-workspace
_ide_helper.php
/nbproject/private/