#app{
  margin-top: 70px;
}
#top-nav{
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}
a.brand-logo,
nav ul a {
  color: #444;
}
nav .brand-logo{
  position: inherit;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
.main-form{
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
  max-width: 500px;
}
.loading-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  text-align: center;
  display:none;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
#profile_dropdown{
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  overflow: inherit !important;
  right: 0 !important;
  top: 65px !important;
  min-width: 320px;
  margin-top: -2px;
}
#profile_dropdown img{
  width: 100px;
}
#profile_dropdown_btn img{
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
#profile_dropdown li:hover{
  cursor: default;
  background-color: white;
}

#profile_dropdown_card{
  width: 320px;
  min-width: 320px;
  min-height: 100px;
  padding:20px;
  text-align:left;
}
#profile_dropdown_card_img_hldr{
  width: 100px;
  display: inline-block;
}
#profile_dropdown_card_img_hldr img{
  width: 100%;
}
#profile_dropdown_card_account{
  display:inline-block;
  vertical-align: top;
  padding:10px;
  font-size: 13px;
}
.profile_dropdown_card_a{
  display: inline;
  color:#336699;
}
.profile_dropdown_card_a:hover{
  background-color:transparent;
}
#profile_dropdown_myacc_btm{
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.mt0{
  margin-top: 0 !important;
}
.mb0{
  margin-bottom: 0 !important;
}
#slide-out{
  top:64px;
  overflow: auto;
  margin-left: -300px
}
#slide-out .userView{
  padding:10px;
  text-align: center;
}
#slide-out #user-profile-img{
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.btn-thinner{
  line-height: 25px;
  height: 25px;
}
#upload_drpdn_new,
#upload_drpdn_main_nav,
#upload_drpdn{
  min-width: 200px;
}
#upload_drpdn_new i,
#upload_drpdn_main_nav i,
#upload_drpdn i{
  display: inline;
  vertical-align: bottom;
}
.admin-page-container,
.home-page-container{
  margin-left: 300px;
  margin-top: -5px;
}
.home-page-container > .collection{
  margin-top: 0px;
}
.avatar{
  min-height: 50px;
}
tr.active{
  background-color: #26a69a;
  color: #eafaf9;
}
td{
  border-radius: 0;
}
.avatar i.circle,
.fixed-action-btn .btn-floating,
.fixed-action-btn .btn-floating.btn-large i{
  background-color: white;
  color: #999;
  width: 32px;
  height: 32px;
  line-height: 31px;
}
.fixed-action-btn .btn-floating.btn-large{
  box-shadow: none;
}
.active .fixed-action-btn .btn-floating.btn-large{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}
.avatar.active i.circle{
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.mob-yes{
  display:none;
}
#mob-add-new{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#breadcrumb{
  padding-left: 20px;
  background-color: #fafafa !important;
}
#breadcrumb a,
#breadcrumb a:before{
  color: #555;
}
.breadcrumb i{
  margin-left: 0 !important;
}
.breadcrumb span{
  padding:5px;
}
.breadcrumb span:hover{
  border:1px solid #e0e0e0;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}
#breadcrumb .nav-wrapper > div{
  white-space: nowrap;
  overflow-x: auto;
}
.fixed-action-btn{
  position: absolute;
  bottom: 8px;
}
.fixed-action-btn .btn-floating.btn-large{
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.fixed-action-btn .btn-floating.btn-large i{
  line-height: 37px;
}
.fixed-action-btn.horizontal ul{
  right: 35px;
}
.fixed-action-btn.horizontal ul li{
  margin-top: 5px;
}
.fixed-action-btn ul a.btn-floating{
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.fixed-action-btn ul a.btn-floating i{
  font-size: 1.1em;
  line-height: 30px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
#edit-profile .file-field .btn{
  line-height: 36px;
  height: 36px;
  margin-top: 10px;
}
#loading{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1004;
}
#loading > div{
    font-size: 26px;
    text-align: center;
    position: relative;
    top: 50%;
}
.relative{
  position: relative;
}
.file-icon{
  width: 32px; 
  height:32px;
}
.package_icon{
  width: 24px; 
  margin-right:32px; 
  vertical-align:middle;
}
@media screen and (max-width: 990px) {
  .home-page-container{
    margin-left: 0px !important;
  }
  .mob-yes{
    display: inherit;
  }
  .mob-no{
    display: none;
  }
  nav .brand-logo{
    position:absolute;
  }
  #slide-out{
    margin-left: 0
  }
}
@media screen and (max-width: 600px) {
  #slide-out{
    top:56px;
  }
}